<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for("home") }}">
        <img src="{{ url_for("static", filename="img/logo.svg") }}" height="30" class="d-inline-block align-top"
             alt="">
        热点图
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if request.path == "/" %} active{% endif %}">
                <a class="nav-link" href="{{ url_for("home") }}">首页</a>
            </li>
            <li class="nav-item{% if request.path == "/animation" %} active{% endif %}">
                <a class="nav-link" href="{{ url_for("animation") }}">动态展示</a>
            </li>
        </ul>
    </div>
</nav>