{% extends "frame.html" %}
{% block body %}
    <div class="row mt-4" id="input-card">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <img src="{{ url_for("static", filename="img/animation.png") }}" class="card-img"
                             alt="bar">
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">动态展示</h5>
                            <form class="form">
                                <div class="form-group">
                                    <label for="start-date">开始时间</label>
                                    <input type="text" class="form-control" id="start-date" required
                                           placeholder="1946-05" value="1946-05">
                                </div>
                                <div class="form-group">
                                    <label for="end-date">结束时间</label>
                                    <input type="text" class="form-control" id="end-date" required
                                           placeholder="1946-05" value="2019-11">
                                </div>
                                <button type="submit" onclick="start()" class="btn btn-outline-info">开始</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center" id="animation" style="display: none">
        <div class="col-md-12">
            <div id="keywords">
                <svg style="height:720px;width:100%;margin-top:72px"></svg>
            </div>
        </div>
        <div class="col-md-12 text-center">
        <h3><code id="keyword-date"></code> 趋势</h3>
        </div>
    </div>
    <div id="cloud-container" align="center" class="cloud blur">
        <canvas id="cloud"></canvas>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-datepicker.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/nv.d3.min.css") }}">
    <style>
        .cloud {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            transition-duration: 1s;
        }

        .blur {
            filter: blur(15px);
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/bootstrap-datepicker.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-datepicker.zh-CN.min.js") }}"></script>
    <script>
        String.prototype.hashCode = function () {
            var hash = 0, i, chr;
            if (this.length === 0) return hash;
            for (i = 0; i < this.length; i++) {
                chr = this.charCodeAt(i);
                hash = ((hash << 5) - hash) + chr;
                hash |= 0; // Convert to 32bit integer
            }
            return hash;
        };
        $('#start-date').datepicker({
            format: 'yyyy-mm',
            startDate: '1946-05',
            endDate: '2019-12',
            language: 'zh-CN',
            defaultViewDate: '1946-05'
        });
        $('#end-date').datepicker({
            format: 'yyyy-mm',
            startDate: '1946-05',
            endDate: '2019-11',
            language: 'zh-CN',
            defaultViewDate: '2019-11'
        });
    </script>
    <script src="{{ url_for("static", filename="js/wordcloud2.js") }}"></script>
    <script>
        var canvas = document.getElementById('cloud');
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        function cloud(map, repeat, size) {
            let list = [];
            for (let i = 0; i < repeat; i++) {
                for (let key in map) {
                    list.push([key, map[key]])
                }
            }
            var options = eval({
                "list": list,
                "gridSize": 24,
                "weightFactor": size,
                "fontWeight": 'normal',
                "fontFamily": 'Hiragino Mincho Pro, serif',
                "color": 'random-dark',
                "backgroundColor": '#fff',
                "rotateRatio": 0
            });
            WordCloud(canvas, options);
        }
    </script>
    <script src="{{ url_for("static", filename="js/d3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/nv.d3.min.js") }}"></script>
    <script>
        var svg = d3.select("#keywords svg");
        var chart = nv.models.multiBarHorizontalChart()
            .margin({top: 30, right: 20, bottom: 50, left: 175})
            .duration(350)
            .showLegend(false)
            .showValues(true)
            .showControls(false);
        chart.xAxis.fontSize("1.6em");
        chart.yAxis.tickFormat(d3.format(',.3f'));
        chart.barColor(function (d, i) {
            let t = d.x.hashCode();
            var colors = d3.scale.category20().range();
            return colors[t % colors.length - 1];
        });

        function keywords(data) {
            let result = {
                key: "权重",
                values: []
            };
            for (let k in data) {
                result.values.push({
                    x: data[k][0],
                    y: data[k][1],
                })
            }
            nv.addGraph(function () {
                svg.datum([result]).call(chart);
                nv.utils.windowResize(chart.update);
                return chart;
            });
        }
    </script>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function start() {
            event.preventDefault();
            let nav = $("nav");
            let input = $("#input-card");
            let cloudContainer = $("#cloud-container");
            let animation = $("#animation");
            nav.fadeOut();
            input.fadeOut();
            await sleep(400);
            let startDate = $("#start-date").val();
            let endDate = $("#end-date").val();
            let startYear = parseInt(startDate.substr(0, 4)), startMonth = parseInt(startDate.substr(5, 2));
            let endYear = parseInt(endDate.substr(0, 4)), endMonth = parseInt(endDate.substr(5, 2));
            for (let year = startYear; year <= endYear; year++) {
                let firstMonth, lastMonth;
                if (year === startYear) {
                    firstMonth = startMonth;
                } else {
                    firstMonth = 1;
                }
                if (year === endYear) {
                    lastMonth = endMonth;
                } else {
                    lastMonth = 12;
                }
                await $.ajax({
                    url: "{{ url_for("home") }}keywords/" + year,
                    context: document.body
                }).done(function (data) {
                    cloud(data, 4, 20);
                    cloudContainer.fadeIn();
                });
                cloudContainer.removeClass("blur");
                await sleep(2500);
                cloudContainer.addClass("blur");
                await sleep(200);
                animation.fadeIn();
                await sleep(400);
                for (let month = firstMonth; month <= lastMonth; ++month) {
                    await $.ajax({
                        url: "{{ url_for("home") }}keywords/" + year + "/" + month,
                        context: document.body
                    }).done(function (data) {
                        if (data) {
                            $("#keyword-date").text(year + "-" + month);
                            keywords(data);
                        }
                    });
                    await sleep(1000);
                }
                animation.fadeOut(1000);
            }
            cloudContainer.fadeOut();
            await sleep(400);
            nav.fadeIn();
            input.fadeIn();
        }
    </script>
{% endblock %}