{% extends "frame.html" %}
{% block body %}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <div class="alert alert-danger text-center" role="alert">
                            {{ error }}
                        </div>
                        {% if date %}
                        <h3 class="text-center">
                            <small><a role="button" href="{{ previous_url }}"
                                      class="btn btn-outline-secondary btm-sm float-left">回翻</a></small>
                            <small><a role="button" href="{{ next_url }}"
                                      class="btn btn-outline-secondary btm-sm float-right">前翻</a></small>
                            <code>{{ date }} 的热点词汇</code>
                        </h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}