<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    {% block extra_css %}{% endblock %}
    <title>《人民日报》热点图</title>
    <style>
        body {
            background-color: rgba(189, 195, 199, 0.15);
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<div class="container" id="container">
    {% include "snips/nav.html" %}
    {% block body %}{% endblock %}
</div>
<script src="{{ url_for("static", filename="js/jquery-3.4.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>