{% extends "frame.html" %}
{% block body %}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <img src="{{ url_for("static", filename="img/view-by-day.png") }}" class="card-img"
                             alt="word cloud">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">按天查看</h5>
                            <form class="form-inline" action="{{ url_for("view") }}">
                                <label class="sr-only" for="view-by-day">按天查看</label>
                                <input id="view-by-day" name="date" class="form-control my-1 mr-sm-2"
                                       placeholder="1946-05-15" required>
                                <button type="submit" class="btn btn-outline-info my-1">查看</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-4">
                        <img src="{{ url_for("static", filename="img/view-by-month.png") }}" class="card-img"
                             alt="word cloud">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">按月查看</h5>
                            <form class="form-inline" action="{{ url_for("view") }}">
                                <label class="sr-only" for="view-by-day">按月查看</label>
                                <input id="view-by-month" name="date" class="dp form-control my-1 mr-sm-2"
                                       placeholder="1946-05" required>
                                <button type="submit" class="btn btn-outline-info my-1">查看</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-datepicker.min.css") }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/bootstrap-datepicker.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-datepicker.zh-CN.min.js") }}"></script>
    <script>
        $('#view-by-day').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '1946-05-15',
            endDate: '2019-11-31',
            language: 'zh-CN',
            defaultViewDate: '1946-05-15'
        });
        $('#view-by-month').datepicker({
            format: 'yyyy-mm',
            startDate: '1946-05',
            endDate: '2019-11',
            language: 'zh-CN',
            defaultViewDate: '1949-10'
        });
    </script>
{% endblock %}