{% extends "frame.html" %}
{% block body %}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <div id="canvas-container" align="center">
                            <canvas id="cloud" width="960px" height="512px"></canvas>
                        </div>
                        <h3 class="text-center">
                            <small><a role="button" href="{{ previous_url }}"
                                      class="btn btn-outline-secondary btm-sm float-left">回翻</a></small>
                            <small><a role="button" href="{{ next_url }}"
                                      class="btn btn-outline-secondary btm-sm float-right">前翻</a></small>
                            <code>{{ date }} 的热点词汇</code>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="card-body">
                        <div id="trends">
                            <svg style="height:512px;"></svg>
                        </div>
                        <h3 class="text-center">
                            <code>热点趋势图</code>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/nv.d3.min.css") }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for("static", filename="js/wordcloud2.js") }}"></script>
    <script>
        var options = eval({
            "list": {{ keywords | safe }},
            "gridSize": 16,
            "weightFactor": 100,
            "fontWeight": 'normal',
            "fontFamily": 'Hiragino Mincho Pro, serif',
            "color": 'random-dark',
            "backgroundColor": '#fff',
            "rotateRatio": 0
        });
        var canvas = document.getElementById('cloud');
        WordCloud(canvas, options);
    </script>
    <script src="{{ url_for("static", filename="js/d3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/nv.d3.min.js") }}"></script>
    <script>
        var data = {{ trends | safe }};

        var trends = d3.select('#trends svg');
        var chart = nv.models.multiBarChart()
            .duration(350)
            .reduceXTicks(true)
            .rotateLabels(0)
            .showControls(false)
            .stacked(true)
        ;
        nv.addGraph(function () {
            chart.yAxis
                .tickFormat(d3.format(',.4f'));
            trends
                .datum(data)
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
        });
    </script>
{% endblock %}